<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalopg1">

    <!-- The root element of the manifest file -->
    <!-- Specifies the package name, which serves as the app's unique identifier -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- Angiver AppTheme som standard -->



        <!-- MainActivity definition -->
        <!-- This activity is the entry point of the app and appears on the launcher -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UserActivity definition -->
        <!-- Handles user-specific actions and UI -->
        <activity android:name=".UserActivity" />

        <!-- AdminActivity definition -->
        <!-- Provides admin-related functionality and UI -->
        <activity android:name=".AdminActivity" />

        <!-- LoginActivity definition -->
        <!-- Handles authentication or password verification for admin access -->
        <activity android:name=".LoginActivity" />

    </application>

</manifest>
